<!-- team_manager/templates/contacts_overview.html -->

{% extends "base.html" %}

{% block title %} Contacts Overview {% endblock %}

{% block content %}

        <h1 align="center">Contacts Overview!</h1>
        <a href="{% url 'create_contact'  %}" title="Create New Contact" style="float: right;"><img src="/static/icons/insert.png"  height="30px", width="30px" alt="info"></a>
        
        <br>
        <form action="" method="post">{% csrf_token %}
        	{% load django_tables2 %}
			{% render_table table_data %}
		</form>
{% endblock %}

